[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
"math123" = "*"
pycryptodome = "*"
crypto = "*"

[dev-packages]

[requires]
python_version = "3.6"
